<section class="about" id="about">
  <div class="container about-container">
    <div class="about-wrapper">
    <h2 class="about-title">About This Game</h2>
      <p class="about-text">
        Tower Hero – Tower Defense brings the classic tower defense formula to
        new heights. With strategic depth, powerful heroes, and an ever-growing
        roster of towers and spells, this game offers a complete fantasy combat
        experience.</br></br>
        Defend magical kingdoms, repel monstrous invasions, and prove your worth
        as the ultimate defender in a world where every decision matters.
      </p>
      </div>
      <div class="about-bg">
      <picture>
              <source
                srcset="
                  /img/about/about-mob@1x.png    1x,
                  /img/about/about-mob@2x.png  2x
                "
                media="(max-width: 1199px)"
              />
              <source
                srcset="
                  /img/about/about@1x.png     1x,
                  /img/about/about@2x.png  2x
                "
                media="(min-width: 1200px)"
              />
              <img
                src="/img/about/about-mob@1x.png "
                alt="Tower image"
              />
            </picture>
    </div>
  </div>
</section>