<section id="faq">
  <div class="container faq-container">
    <h2 class="faq-title">FAQ</h2>
    <ul data-accordion class="accordion-container">
      <li class="ac-item">
        <h2 class="ac-question">
          <p class="ac-question-text">
            Is Tower Hero – Tower Defense free to play?
          </p>
          <button data-accordion-header type="button" class="ac-trigger">
            <svg class="ac-icon" width="15" height="15">
              <use href="/img/sprite.svg#icon-plus"></use>
            </svg>
          </button>
        </h2>
        <div data-panel="open" class="ac-panel">
          <p class="ac-answer">
            Yes, the game is free with optional in-app purchases for
            enhancements.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
