<section class="faq" id="faq">
  <div class="faq-bg">
    <div class="container faq-container">
      <h2 class="faq-title">FAQ</h2>
      <ul data-accordion class="accordion-container">
        <li data-accordion-trigger class="ac-item">
          <h2 class="ac-question">
            <span data-text class="ac-question-text">
              Is Tower Hero – Tower Defense free to play?
            </span>
            <button data-button type="button" class="ac-trigger">
              <svg data-icon="plus" class="ac-icon-plus" width="24" height="24">
                <use href="/img/sprite.svg#icon-plus"></use>
              </svg>
              <svg
                data-icon="minus"
                class="ac-icon-minus"
                width="24"
                height="24"
              >
                <use href="/img/sprite.svg#icon-minus"></use>
              </svg>
            </button>
          </h2>
          <div class="ac-panel">
            <p class="ac-answer">
              Yes, the game is free with optional in-app purchases for
              enhancements.
            </p>
          </div>
        </li>
        <li data-accordion-trigger class="ac-item">
          <h2 class="ac-question">
            <span data-text class="ac-question-text">
              Do I need to be online to play?
            </span>
            <button data-button type="button" class="ac-trigger">
              <svg data-icon="plus" class="ac-icon-plus" width="24" height="24">
                <use href="/img/sprite.svg#icon-plus"></use>
              </svg>
              <svg
                data-icon="minus"
                class="ac-icon-minus"
                width="24"
                height="24"
              >
                <use href="/img/sprite.svg#icon-minus"></use>
              </svg>
            </button>
          </h2>
          <div class="ac-panel">
            <p class="ac-answer">
              No. The game supports offline play, though some features may
              require internet.
            </p>
          </div>
        </li>
        <li data-accordion-trigger class="ac-item">
          <h2 class="ac-question">
            <span data-text class="ac-question-text">
              How do I unlock new heroes and towers?
            </span>
            <button data-button type="button" class="ac-trigger">
              <svg data-icon="plus" class="ac-icon-plus" width="24" height="24">
                <use href="/img/sprite.svg#icon-plus"></use>
              </svg>
              <svg
                data-icon="minus"
                class="ac-icon-minus"
                width="24"
                height="24"
              >
                <use href="/img/sprite.svg#icon-minus"></use>
              </svg>
            </button>
          </h2>
          <div class="ac-panel">
            <p class="ac-answer">
              You can unlock them by progressing through levels, completing
              achievements, or earning in-game rewards.
            </p>
          </div>
        </li>
        <li data-accordion-trigger class="ac-item">
          <h2 class="ac-question">
            <span data-text class="ac-question-text">
              Can I replay older levels?
            </span>
            <button data-button type="button" class="ac-trigger">
              <svg data-icon="plus" class="ac-icon-plus" width="24" height="24">
                <use href="/img/sprite.svg#icon-plus"></use>
              </svg>
              <svg
                data-icon="minus"
                class="ac-icon-minus"
                width="24"
                height="24"
              >
                <use href="/img/sprite.svg#icon-minus"></use>
              </svg>
            </button>
          </h2>
          <div class="ac-panel">
            <p class="ac-answer">
              Yes. Replaying levels is encouraged to earn more stars and improve
              your tactics.
            </p>
          </div>
        </li>
        <li data-accordion-trigger class="ac-item">
          <h2 class="ac-question">
            <span data-text class="ac-question-text width">
              What devices are supported?
            </span>
            <button data-button type="button" class="ac-trigger">
              <svg data-icon="plus" class="ac-icon-plus" width="24" height="24">
                <use href="/img/sprite.svg#icon-plus"></use>
              </svg>
              <svg
                data-icon="minus"
                class="ac-icon-minus"
                width="24"
                height="24"
              >
                <use href="/img/sprite.svg#icon-minus"></use>
              </svg>
            </button>
          </h2>
          <div class="ac-panel">
            <p class="ac-answer">
              The game is available on Android, with iOS support under
              development.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
