<section class="feature-keys" id="feature-keys">
  <div class="container">
    <h2 class="feature-keys-title">Feature Keys</h2>

    <div class="feature-keys-grid">
      <!-- Левый верх: большая картинка -->
      <picture class="feature-keys-graphic feature-keys-graphic--left">
        <source
          media="(max-width: 767px)"
          srcset="
            img/feature-keys/feature-keys-1-mob@1x.png,
            img/feature-keys/feature-keys-1-mob@2x.png
          "
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            img/feature-keys/feature-keys-1@1x.png,
            img/feature-keys/feature-keys-1@2x.png
          "
        />
        <img
          src="img/feature-keys/feature-keys-1mob@1x.png"
          alt="Hero Progression System"
          width="480"
          height="480"
        />
      </picture>

      <!-- Правый верх: список -->
      <ul class="feature-keys-list feature-keys-list--top-right">
        <li class="feature-keys-item">
          <svg class="feature-keys-icon" aria-hidden="true">
            <use href="img/sprite.svg#icon-Vector-5"></use>
          </svg>
          <div>
            <h3 class="feature-keys-item-title">Hero Progression System</h3>
            <p class="feature-keys-item-text">
              Level up heroes and unlock new abilities as the war progresses.
            </p>
          </div>
        </li>
        <li class="feature-keys-item">
          <svg class="feature-keys-icon" aria-hidden="true">
            <use href="img/sprite.svg#icon-Vector-5"></use>
          </svg>
          <div>
            <h3 class="feature-keys-item-title">Multiple Game Modes</h3>
            <p class="feature-keys-item-text">
              From story-driven campaigns to survival and challenge missions.
            </p>
          </div>
        </li>
        <li class="feature-keys-item">
          <svg class="feature-keys-icon" aria-hidden="true">
            <use href="img/sprite.svg#icon-Vector-5"></use>
          </svg>
          <div>
            <h3 class="feature-keys-item-title">Offline Play Supported</h3>
            <p class="feature-keys-item-text">
              Defend your kingdom anytime, even without an internet connection.
            </p>
          </div>
        </li>
      </ul>
      <!-- Правый низ: большая картинка -->
      <picture class="feature-keys-graphic feature-keys-graphic--right">
        <source
          media="(max-width: 767px)"
          srcset="
            img/feature-keys/feature-keys-2-mob@1x.png,
            img/feature-keys/feature-keys-2-mob@2x.png
          "
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            img/feature-keys/feature-keys-2@1x.png,
            img/feature-keys/feature-keys-2@2x.png
          "
        />
        <img
          src="img/feature-keys/feature-keys-2mob@1x.png"
          alt="Boss Battles"
          width="480"
          height="480"
        />
      </picture>
      <!-- Левый низ: список -->
      <ul class="feature-keys-list feature-keys-list--bottom-left">
        <li class="feature-keys-item">
          <svg class="feature-keys-icon" aria-hidden="true">
            <use href="img/sprite.svg#icon-Vector-5"></use>
          </svg>
          <div>
            <h3 class="feature-keys-item-title">Real-Time Tactical Defense</h3>
            <p class="feature-keys-item-text">
              Control the battlefield with responsive, dynamic gameplay.
            </p>
          </div>
        </li>
        <li class="feature-keys-item">
          <svg class="feature-keys-icon" aria-hidden="true">
            <use href="img/sprite.svg#icon-Vector-5"></use>
          </svg>
          <div>
            <h3 class="feature-keys-item-title">Boss Battles</h3>
            <p class="feature-keys-item-text">
              Face powerful enemy commanders in high-stakes showdowns.
            </p>
          </div>
        </li>
        <li class="feature-keys-item">
          <svg class="feature-keys-icon" aria-hidden="true">
            <use href="img/sprite.svg#icon-Vector-5"></use>
          </svg>
          <div>
            <h3 class="feature-keys-item-title">Tower Customization</h3>
            <p class="feature-keys-item-text">
              Upgrade and specialize towers with unique strengths and effects.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
