<section id="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          srcset="
            /img/gallery/gallery-1@1x.png 1x,
            /img/gallery/gallery-1@2x.png 2x
          "
          scr="/img/gallery/gallery-1@1x.png"
          alt="Gallery card"
          class="gallery-img"
        />
        <h3 class="gallery-item-title">Command Towering Power</h3>
        <p class="gallery-item-text">
          Build and upgrade powerful defense towers across stunning maps.
        </p>
      </li>
      <li class="gallery-item">
        <img
          srcset="
            /img/gallery/gallery-2@1x.png 1x,
            /img/gallery/gallery-2@2x.png 2x
          "
          scr="/img/gallery/gallery-2@1x.png"
          alt="Gallery card"
          class="gallery-img"
        />
        <h3 class="gallery-item-title">Lead Legendary Heroes</h3>
        <p class="gallery-item-text">
          Take control of powerful champions with game-changing abilities.
        </p>
      </li>
      <li class="gallery-item">
        <img
          srcset="
            /img/gallery/gallery-3@1x.png 1x,
            /img/gallery/gallery-3@2x.png 2x
          "
          scr="/img/gallery/gallery-3@1x.png"
          alt="Gallery card"
          class="gallery-img"
        />
        <h3 class="gallery-item-title">Crush Enemy Waves</h3>
        <p class="gallery-item-text">
          Use spells and tactics to survive increasingly challenging enemy
          forces.
        </p>
      </li>
      <li class="gallery-item">
        <img
          srcset="
            /img/gallery/gallery-4@1x.png 1x,
            /img/gallery/gallery-4@2x.png 2x
          "
          scr="/img/gallery/gallery-4@1x.png"
          alt="Gallery card"
          class="gallery-img"
        />
        <h3 class="gallery-item-title">Defend Fantasy Lands</h3>
        <p class="gallery-item-text">
          Protect diverse regions from dark forces in an immersive fantasy
          world.
        </p>
      </li>
    </ul>
  </div>
</section>
