<header class="header">
  <div class="container header-container">
    <img src="img/header/logo-1x.png" alt="Tower Hero Logo" class="logo" />

    <button class="burger" data-state="closed">
      <svg class="burger-icon burger-open" aria-label="Open menu">
        <use href="../img/symbol-defs.svg#icon-Vector"></use>
      </svg>
      <svg class="burger-icon burger-close" aria-label="Close menu">
        <use href="../img/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>

    <nav class="nav" data-menu="closed">
      <ul class="nav-list">
        <li><a href="#home">Home</a></li>
        <li><a href="#benefits">Benefits</a></li>
        <li><a href="#feature">Feature keys</a></li>
        <li><a href="#about">About This Game</a></li>
        <li><a href="#play">How to Play</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#Revievs">Reviews</a></li>
        <li><a href="#gallery">Gallery</a></li>
      </ul>
    </nav>
  </div>
</header>
