<section class="hero">
  <div class="container hero-container">
    <h2 class="hero-title">Tower Hero – Tower Defense Like Never Before</h2>
    <img src="../img/hero/hero-mob@1x.png" alt="hero" />
    <p class="hero-content">
      Step into an epic world where strategy meets fantasy in the ultimate tower
      defense experience. Tower Hero – Tower Defense challenges you to hold the
      line against waves of enemies using a mighty arsenal of towers, spells,
      and legendary heroes. Lead your army, fortify your defenses, and outwit
      the forces of evil threatening your kingdom. Victory demands courage,
      planning, and unbreakable resolve.
    </p>
    <button class="download-btn">
      <img
        src="../img/googlePlay.png"
        alt="icon-google-play"
        width="24px"
        height="24px"
      />
      Download on Google Play
    </button>
  </div>
</hero>
