<section class="cookie-pop-up" data-pop-up>
  <div class="container">
    <div class="cookie-pop-up-wrapper" data-pop-up-container>
      <h3 class="pop-up-title">Cookies Policy</h3>
      <p class="pop-up-text">
        We use cookies to improve your experience on our website. By browsing
        this website, you agree to our use of cookies.
      </p>
      <div class="pop-up-btns" data-pop-up-buttons>
        <button class="pop-up-accept" data-accept>Accept cookies</button>
        <button class="pop-up-decline" data-decline>Decline cookies</button>
      </div>
    </div>
  </div>
</section>
