<section class="container ready-to-container">
  <h2 class="ready-to-title">Ready to Defend Your Realm?</h2>
   <p class="ready-to-text">
    Join thousands of players</br> and dive into epic tower</br> battles today.</br>Your
    kingdom needs a hero</br> — and that hero is you.
  </p><p class="ready-to-text desktop">
    Join thousands of players and dive into epic tower battles today.</br>Your
    kingdom needs a hero — and that hero is you.
  </p>
  <a
    href="https://play.google.com/store/apps/details?id=com.blockstack.tophero&hl=en&gl=us"
    class="download-btn ready-to"
    target="_blank"
    rel="noopener"
    ><img src="/img/googlePlay.png" alt="icon-google-play" />
    <span class="download-btn-text">Download on Google Play</span>
  </a>
</section>