<section class="container" id="reviews">
  <div class="reviews-bg">
    <div class="reviews-container">
      <h2 class="reviews-title">Reviews</h2>
      <ul class="reviews-list">
        <li class="reviews-item">
          <div class="reviews-img-wrapper">
            <img
              srcset="
                /img/reviews/reviews-1@1x.png 1x,
                /img/reviews/reviews-1@2x.png 2x
              "
              src="/img/reviews/reviews-1@1x.png"
              alt="Lucas Bennet"
              class="reviews-img"
            />
            <div class="reviews-subtext-wrapper">
              <h3 class="reviews-subtitle">Lucas Bennett</h3>
              <span class="reviews-stars">
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
              </span>
            </div>
          </div>
          <div class="reviews-text-wrapper">
            <p class="reviews-text">
              "The hero system is awesome. Each one brings something new to the
              battlefield."
            </p>
          </div>
        </li>
        <li class="reviews-item">
          <div class="reviews-img-wrapper">
            <img
              srcset="
                /img/reviews/reviews-2@1x.png 1x,
                /img/reviews/reviews-2@2x.png 2x
              "
              src="/img/reviews/reviews-2@1x.png"
              alt="Olivia Reed"
              class="reviews-img"
            />
            <div class="reviews-subtext-wrapper">
              <h3 class="reviews-subtitle">Olivia Reed</h3>
              <span class="reviews-stars">
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
              </span>
            </div>
          </div>
          <div class="reviews-text-wrapper">
            <p class="reviews-text">
              "One of the best tower defense games I’ve played. Tons of variety
              and real strategy."
            </p>
          </div>
        </li>
        <li class="reviews-item">
          <div class="reviews-img-wrapper">
            <img
              srcset="
                /img/reviews/reviews-3@1x.png 1x,
                /img/reviews/reviews-3@2x.png 2x
              "
              src="/img/reviews/reviews-3@1x.png"
              alt="Harper James"
              class="reviews-img"
            />
            <div class="reviews-subtext-wrapper">
              <h3 class="reviews-subtitle">Harper James</h3>
              <span class="reviews-stars">
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
              </span>
            </div>
          </div>
          <div class="reviews-text-wrapper">
            <p class="reviews-text">
              "Beautiful graphics, challenging gameplay, and no paywall to
              progress. Impressive!"
            </p>
          </div>
        </li>
        <li class="reviews-item">
          <div class="reviews-img-wrapper">
            <img
              srcset="
                /img/reviews/reviews-4@1x.png 1x,
                /img/reviews/reviews-4@2x.png 2x
              "
              src="/img/reviews/reviews-4@1x.png"
              alt="Ethan Cole"
              class="reviews-img"
            />
            <div class="reviews-subtext-wrapper">
              <h3 class="reviews-subtitle">Ethan Cole</h3>
              <span class="reviews-stars">
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
              </span>
            </div>
          </div>
          <div class="reviews-text-wrapper">
            <p class="reviews-text">
              "Offline play is a huge plus. I can jump into the action anytime,
              anywhere."
            </p>
          </div>
        </li>
        <li class="reviews-item">
          <div class="reviews-img-wrapper">
            <img
              srcset="
                /img/reviews/reviews-5@1x.png 1x,
                /img/reviews/reviews-5@2x.png 2x
              "
              src="/img/reviews/reviews-5@1x.png"
              alt="Sophia Green"
              class="reviews-img"
            />
            <div class="reviews-subtext-wrapper">
              <h3 class="reviews-subtitle">Sophia Green</h3>
              <span class="reviews-stars">
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
                <img
                  class="star"
                  src="/img/reviews/reviews-star@1x.png"
                  alt="Star"
                />
              </span>
            </div>
          </div>
          <div class="reviews-text-wrapper">
            <p class="reviews-text">
              "The perfect blend of strategy and action. Addictive and
              satisfying.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
