@include media(desktop) {
  .about {
    padding: 194px 20px 220px;
    background: url('/img/about/Vector 4.png') no-repeat top center;
    background-size: 100% 100%;
  }
  .about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}
@include media(desktop) {
  .about-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
.about-bg {
  display: flex;
}
.about-title {
  font-family: 'Cinzel', sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #ffd700;
  margin-right: -16px;
  margin-left: -16px;
  margin-bottom: 24px;
}
@include media(desktop) {
  .about-title {
    margin-right: 0;
    margin-left: 0;
    text-align: start;
  }
}
.about-text {
  font-family: var(--font-family);
  font-size: 16px;
  color: #ddd;
  margin-bottom: 24px;
}
@include media(desktop) {
  .about-text {
    font-size: 24px;
    width: 638px;
  }
}
