@include media(desktop) {
  .faq {
    height: 910px;
    display: flex;
    background-image: url(/img/background-shapes/faq-shape.png);
    background-position: -50px 20px;
    background-size: 1413px 890px;
    background-repeat: no-repeat;
  }
}
.faq-container {
}
.faq-title {
  font-family: 'Cinzel', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1;
  text-align: center;
  color: #ffd700;
  margin-bottom: 21px;
  margin-top: 270px;
}
@include media(desktop) {
  .faq-title {
    margin-bottom: 64px;
  }
}
.accordion-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  gap: 32px;
}
.ac-item {
  width: 100%;
  border: 1px solid #dde1e6;
  padding: 16px;
  background: #c8c8f0;
  cursor: pointer;
}
.ac-question {
  display: flex;
  width: 248px;
}
@include media(desktop) {
  .ac-question {
    width: 100%;
  }
}
.ac-question-text {
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  color: #225;
}
.active {
  font-weight: 700;
  font-size: 20px;
}
@include media(desktop) {
  .ac-question-text {
    font-weight: 600;
    font-size: 20px;
  }
}
.ac-trigger {
  border: none;
  background: none;
  padding: 0;
  margin-left: auto;
  align-self: center;
}
.ac-icon {
  width: 25px;
  height: 24px;
}
.ac-panel {
  display: none;
  transition: max-height 0.3s ease;
  overflow: hidden;
}
.ac-answer {
  width: 216px;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.1;
  color: #225;
}
@include media(desktop) {
  .ac-answer {
    width: 100%;
  }
}
