body {
  margin: 0;
  font-family: 'Bangers', cursive, sans-serif;
  padding-top: 64px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.container {
  max-width: none;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-container {
  margin: 0 auto;
  background: linear-gradient(0deg, #202060 0%, #303070 100%);
  max-width: 1200px;
}

.logo {
  height: 64px;
  width: auto;
}

.nav {
  display: block;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 36px;
  margin: 0;
  padding: 0;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
  white-space: nowrap;
}

/* BURGER MENU ICONS */
.burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.burger-icon {
  width: 24px;
  height: 24px;
  fill: #ffd500;
  display: none;
}

.burger[data-state='closed'] .burger-open {
  display: block;
}

.burger[data-state='open'] .burger-close {
  display: block;
}

/* MOBILE NAVIGATION (≤1199px) */
@media (max-width: 1199px) {
  .burger {
    display: block;
    position: relative;
    z-index: 10000;
  }

  .nav {
    position: fixed; /* фиксируем над всем */
    top: 64px; /* от самого верха viewport */
    left: 0;
    width: 100%; /* на всю ширину экрана */
    height: calc(100vh - 64px); /* на всю высоту экрана */
    background: #25257a;
    padding: 20px 0; /* если нужно отодвинуть содержимое вниз под шапку */
    z-index: 999;
    overflow-y: auto; /* если пунктов много — позволяем скролл */
    display: none;
  }
  .nav[data-menu='open'] {
    display: block;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    margin: 0;
    gap: 20px;
  }

  .nav-list a {
    display: block;
    width: 100%;
    padding: 12px 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
  }
}
