.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #3c3ca6;
}
.hero-title {
  margin: 0 auto;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 77px;
  color: #ffd700;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}
.download-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 208px;
  height: 65px;
  border-radius: 12px;
  border: none;
  background-color: #ffd700;
}
.hero-content {
  font-weight: 400;
  size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  color: #ffcc00;
}
