.policies-container {
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 50px;
  background-color: var(--background-color);
  text-align: left;
}
@include media(desktop) {
  .policies-container {
    padding: 0 36px;
  }
  .policies-wrapper {
    width: 1008px;
    margin: 0 auto;
  }
}
.policies-title {
  font-family: 'Cinzel', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 0.94;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
  color: #ffd700;
}
@include media(desktop) {
  .policies-title {
    text-align: left;
    margin-bottom: 40px;
  }
}
.policies-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #d0d0e5;
}
.policies-subtitle.margin {
  margin-bottom: 20px;
}
.span-regular {
  font-weight: 400;
}
.span-bold {
  font-weight: 600;
}
.policies-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #d0d0e5;
}
.policies-list {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #d0d0e5;
  padding-left: 20px;
  margin-left: 0;
}
.policies-list-item:not(:last-child) {
  margin-bottom: 30px;
}
.policies-sublist {
  list-style-type: disc;
  padding-left: 1.5rem;
}
.policies-sublist-cookies {
  list-style-type: none;
}
.policies-subitem {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #d0d0e5;
}
.policies-subitem-cookies:not(:last-child) {
  margin-bottom: 30px;
}
.policies-subitem-manage {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #d0d0e5;
  text-decoration: underline;
}
.policies-subitem-manage:not(:last-child) {
  margin-bottom: 20px;
}
.policies-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #d0d0e5;
  text-decoration: underline;
}
.text-cookies {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #d0d0e5;
}
.text-cookies:not(:last-child) {
  margin-bottom: 20px;
}
.text-cookies.bold {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #d0d0e5;
  font-weight: 600;
}
.go-to-home-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #d0d0e5;
}
.policies-icon {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}
