.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@include media(desktop) {
  .reviews-container {
    width: 100%;
    align-items: flex-start;
  }
  .reviews-bg {
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url(/img/reviews/reviews-tower@1x.png);
    background-size: 552px 596px;
    background-position: 578px 72px;
    background-repeat: no-repeat;
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .reviews-bg {
      width: 100%;
      height: 100%;
      display: flex;
      background-image: url(/img/reviews/reviews-tower@2x.png);
      background-size: 552px 596px;
      background-position: 578px 72px;
      background-repeat: no-repeat;
    }
  }
}
.reviews-title {
  font-family: 'Cinzel', sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #ffd700;
  margin-bottom: 23px;
}
@include media(desktop) {
  .reviews-title {
    margin: 0 auto;
    margin-bottom: 46px;
  }
}
.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@include media(desktop) {
  .reviews-list {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-auto-rows: auto;
    justify-content: flex-start;
    column-gap: 18px;
    row-gap: 36px;
  }
}
.reviews-item {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 12px 10px;
  width: 270px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  background: #1e1e3f;
}
@include media(desktop) {
  .reviews-item:nth-child(1),
  .reviews-item:nth-child(2) {
    grid-row: 1;
  }

  .reviews-item:nth-child(3),
  .reviews-item:nth-child(4),
  .reviews-item:nth-child(5) {
    grid-row: 2;
  }
}
.reviews-img-wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 14px;
}
.reviews-img {
  width: 91px;
  height: 91px;
}
.reviews-subtext-wrapper {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.reviews-subtitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: #ffd700;
}
.reviews-stars {
  display: flex;
}
.reviews-text-wrapper {
  border: 1px solid #1e1e1e;
  border-radius: 10px;
  padding: 22px 16px 16px 16px;
  width: 250px;
  height: 150px;
  background: #fff;
}
.reviews-text {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 1.4;
  color: #111;
}
