@import './container.scss';

@import './header.scss';
@import './hero.scss';
@import './benefits.scss';
@import './feature-keys.scss';
@import './how-to-play.scss';
@import './about.scss';
@import './faq.scss';
@import './reviews.scss';
@import './gallery.scss';
@import './ready-to.scss';
@import './footer.scss';
@import './cookies-popup.scss';

@import './cookies-policy.scss';
@import './privacy-policy.scss';
@import './terms-and-conditions.scss';

:root {
  --font-family: 'Inter', sans-serif;
  line-height: 24px; //not sure
  font-weight: 400;
  font-size: 24px;

  color: #ddd;
  --background-color: #3c3ca6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--background-color);
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
}
